In [11]:
# !pip install nsepy
# !pip install yfinance

In [12]:
import yfinance as yf
import pandas as pd
from data_name_lists import index, share_name, mutual_funds, fd_data

In [13]:
def get_data(stock_name):
    ticker_data = yf.Ticker(stock_name)
    historical_data = ticker_data.history(period='max')
    if len(historical_data) > 0:
        df = pd.DataFrame(historical_data)
        return df
    else:
        print(f"No data for {stock_name}")

In [14]:
# get_data('NIFTY_MIDCAP_100.NS')

# Indexs

In [ ]:
for ind in index:
    print(ind)
    
    df = get_data(ind)
    print(len(df))

    file_name = '../Data/Index/' + ind.replace("^", "").replace(".NS", "") + '.csv'
    df.to_csv(file_name) 
    
    print("----------------------------------------------------------------")

^NSEI
4272
----------------------------------------------------------------
^NSEBANK
3998
----------------------------------------------------------------
^CNXIT
3983
----------------------------------------------------------------
^BSESN
6808
----------------------------------------------------------------
NIFTY_MIDCAP_100.NS
4770
----------------------------------------------------------------
^CNXPSUBANK
3447
----------------------------------------------------------------
^CNXAUTO
3335
----------------------------------------------------------------
NIFTY_FIN_SERVICE.NS
3296
----------------------------------------------------------------

In [16]:
df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-02-11 00:00:00+05:30,23329.550781,23358.800781,22966.000000,23089.599609,844300,0.0,0.0
2025-02-12 00:00:00+05:30,23068.250000,23310.099609,22819.900391,23192.800781,983200,0.0,0.0
2025-02-13 00:00:00+05:30,23195.300781,23485.800781,23188.449219,23272.400391,1022500,0.0,0.0
2025-02-14 00:00:00+05:30,23321.800781,23368.199219,22998.599609,23186.900391,784000,0.0,0.0
2025-02-17 00:00:00+05:30,23053.599609,23293.800781,22958.550781,23271.000000,0,0.0,0.0

# Stocks

In [17]:
# for share in share_name:
#     print(share)
    
#     df = get_data(share)
#     print(len(df))

#     file_name = '../Data/Stocks/' + share.replace(".NS", "") + '.csv'
#     df.to_csv(file_name)
    
#     print("----------------------------------------------------------------")

# Mutual Fund Data

In [18]:
for mutual_fund in mutual_funds:
    print(mutual_fund)

    df = get_data(mutual_fund)
    print(len(df))

    file_name = '../Data/Mutual Funds/' + mutual_fund.replace(".NS", "").replace(".BO", "") + '.csv'
    df.to_csv(file_name)

    print("----------------------------------------------------------------")

0P00005WL6.BO
1753
----------------------------------------------------------------
UTINEXT50.BO
1863
----------------------------------------------------------------
0P0000MLHH.BO
1753
----------------------------------------------------------------
0P0000KV39.BO
1753
----------------------------------------------------------------
0P00009J3K.BO
1665
----------------------------------------------------------------
0P0001BAB5.BO
1753
----------------------------------------------------------------
0P0001EI18.BO
1753
----------------------------------------------------------------
0P0001BA1R.BO
1753
----------------------------------------------------------------
0P00005WEY.BO
1753
----------------------------------------------------------------
0P0000XUXL.BO
1723
----------------------------------------------------------------
0P0000XUYZ.BO
1723
----------------------------------------------------------------
0P0000XW8D.BO
1723
----------------------------------------------------------------
0P0000XVER.BO
1760
----------------------------------------------------------------
0P0000XUYS.BO
1753
----------------------------------------------------------------
0P0000XW7I.BO
1753
----------------------------------------------------------------
0P0000U3OG.BO
1724
----------------------------------------------------------------
SETFGOLD.NS
3886
----------------------------------------------------------------
BSLGOLDETF.NS
3025
----------------------------------------------------------------

# F.D. Returns

In [19]:
df = pd.DataFrame(fd_data)
df

,Bank Name,Return Rate for Adults (%),Return Rate for Senior Citizens (%)
0,ICICI Bank,6.70,7.20
1,HDFC Bank,6.60,7.10
2,Axis Bank,6.70,7.20
3,Bank of Baroda,6.85,7.35
4,State Bank of India,6.80,7.30
5,Bank Of India,6.80,7.30
6,Equitas small finance bank,7.00,7.20
7,AU small finance bank,7.25,7.75

In [20]:
df.to_csv('../Data/FD_Returns.csv', index=False)